body{
    text-align: center;
    background-image: url("c1R3XcUXVWAFy.gif");
    background-size: contain;
    text-shadow: 2px 2px 5px #ed7ca9;
}
#birthday-tag{
    font-family: "Orbitron", sans-serif;
    font-size: 80px;
    color: #d30a5b;
}

.pic{
    width: 300px;
    height: 300px;
    border: 5px solid  #c62666;
    border-radius: 50%;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#wish{
    margin-top: 20px;
    padding: 8px;
    font-size: 20px;
    background : linear-gradient(#c62666,rgb(121, 157, 215)) ;
    color: whitesmoke;
    border-radius: 15px;
}
.gift-section{
    margin-right: 50px;
    padding: 10px;
}
.gift-pic{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    border: 4px solid #c62666;
    border-radius: 15px;

}
#gift-text{
    font-size: 25px;
    color: whitesmoke;
    background-color: rgba(86, 79, 79, 0.911);
}
.gift-pic:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
